#pixelwrapper div {
    /*width:  1px;*/
    height: 1px;
    float:  left;
}

label {
    display:  block;
    width:    100%;
    position: relative;
    height:   25px;
}

label input {
    position: absolute;
    left:     120px;
}

#image {
    display: none;
}

#canvas {
    display: none;
}